<h1>Tu Carrito</h1>

{{#if cart.products.length}}
<table class="table">
    <thead>
        <tr>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Precio Unitario</th>
        <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        {{#each cart.products}}
        <tr>
            <td>{{this.product.title}}</td>
            <td>{{this.quantity}}</td>
            <td>${{this.product.price}}</td>
            <td>${{multiply this.product.price this.quantity}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<a href="/" class="btn btn-primary">Seguir comprando</a>
<form action="/api/carts/{{cart._id}}" method="post" class="d-inline">
    <button type="submit" class="btn btn-danger">Vaciar carrito</button>
</form>

{{else}}
<p>No hay productos en el carrito.</p>
<a href="/" class="btn btn-primary">Ver productos</a>
{{/if}}
